<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/components/navbar.css">
    <link rel="stylesheet" href="../../assets/css/components/footer.css">
    <title>GNTSecurity</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/index.html"><img src="/assets/images/logo/logo.png" alt="GNTSecurity Logo" class="logo"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Hardware</a>
                    <div class="dropdown-content">
                        <a href="/pages/hardware/cables.html">Cables</a>
                        <a href="/pages/hardware/computer-accessories.html">Computer Accessories</a>
                        <a href="/pages/hardware/computer-monitors-displays.html">Computer Monitors & Displays</a>
                        <a href="/pages/hardware/computers.html">Computers</a>
                        <a href="/pages/hardware/electronics.html">Electronics</a>
                        <a href="/pages/hardware/networking.html">Networking</a>
                        <a href="/pages/hardware/office-equipment-supplies.html">Office Equipment & Supplies</a>
                        <a href="/pages/hardware/phones-video-conferencing.html">Phones & Video Conferencing</a>
                        <a href="/pages/hardware/power.html">Power</a>
                        <a href="/pages/hardware/printers-supplies.html">Printers & Supplies</a>
                        <a href="/pages/hardware/servers-server-management.html">Servers & Server Management</a>
                        <a href="/pages/hardware/storage-hard-drives.html">Storage & Hard Drives</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Software</a>
                    <div class="dropdown-content">
                        <a href="#">Software</a>
                        <a href="#">Business Applications</a>
                        <a href="#">Communication</a>
                        <a href="#">Graphics & Design</a>
                        <a href="#">Networking & Servers</a>
                        <a href="#">Operating Systems</a>
                        <a href="#">Programming & Web Development</a>
                        <a href="#">Security</a>
                        <a href="#">Utilities</a>
                        <a href="#">Virtualization</a>
                        <a href="#">Popular Software Titles</a>
                        <a href="#">Subscriptions</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Services</a>
                    <div class="dropdown-content">
                        <a href="#">GNTS Amplified™ Services</a>
                        <a href="#">eProcurement Integration</a>
                        <a href="#">Warranty Services</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">IT Solutions</a>
                    <div class="dropdown-content">
                        <a href="#">Analytics</a>
                        <a href="#">Artificial Intelligence (AI)</a>
                        <a href="#">Cloud Solutions</a>
                        <a href="#">Cybersecurity Solutions</a>
                        <a href="#">Data Management</a>
                        <a href="#">DevOps</a>
                        <a href="#">Digital Signage</a>
                        <a href="#">Digital Transformation</a>
                        <a href="#">Hybrid Infrastructure</a>
                        <a href="#">IT Asset Management</a>
                        <a href="#">Print Solutions</a>
                        <a href="#">Workplace Modernization</a>
                        <a href="#">IT Solutions by Industry</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Brands</a>
                    <div class="dropdown-content">
                        <a href="#">Apple</a>
                        <a href="#">HP</a>
                        <a href="#">Dell</a>
                        <a href="#">Lenovo</a>
                        <a href="#">Microsoft</a>
                        <a href="#">Samsung</a>
                        <a href="#">Cisco</a>
                        <a href="#">NetApp</a>
                        <a href="#">VMware</a>
                        <a href="#">Hewlett Packard Enterprise</a>
                        <a href="#">Nutanix</a>
                        <a href="#">Palo Alto</a>
                        <a href="#">Poly</a>
                    </div>
                </li>
                <li><a href="/pages/research-hub.html">Research Hub</a></li>
                <li>
                    <input type="text" placeholder="What can we help you find today?">
                    <button type="submit">Search</button>
                </li>
                <li><a href="#"><img src="/assets/images/icons/notifications.png" alt="Notifications"></a></li>
                <li><a href="#"><img src="/assets/images/icons/signin.png" alt="Sign In"></a></li>
                <li><a href="#"><img src="/assets/images/icons/cart.png" alt="Cart"></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
