<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/components/navbar.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="index.html"><img src="../../assets/images/logo/logo.png" alt="GNTSecurity" class="logo"></a>
            <div class="navbar-links">
                <div class="dropdown">
                    <a href="hardware.html" class="dropdown-link">Hardware</a>
                    <div class="dropdown-content">
                        <a href="#">Cables</a>
                        <a href="#">Computer Accessories</a>
                        <a href="#">Computer Monitors & Displays</a>
                        <a href="#">Computers</a>
                        <a href="#">Electronics</a>
                        <a href="#">Networking</a>
                        <a href="#">Office Equipment & Supplies</a>
                        <a href="#">Phones & Video Conferencing</a>
                        <a href="#">Power</a>
                        <a href="#">Printers & Supplies</a>
                        <a href="#">Servers & Server Management</a>
                        <a href="#">Storage & Hard Drives</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="software.html" class="dropdown-link">Software</a>
                    <div class="dropdown-content">
                        <a href="#">Business Applications</a>
                        <a href="#">Communication</a>
                        <a href="#">Graphics & Design</a>
                        <a href="#">Networking & Servers</a>
                        <a href="#">Operating Systems</a>
                        <a href="#">Programming & Web Development</a>
                        <a href="#">Security</a>
                        <a href="#">Utilities</a>
                        <a href="#">Virtualization</a>
                        <a href="#">Popular Software Titles</a>
                        <a href="#">Subscriptions</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="services.html" class="dropdown-link">Services</a>
                    <div class="dropdown-content">
                        <a href="#">GNTS Amplified™ Services</a>
                        <a href="#">eProcurement Integration</a>
                        <a href="#">Warranty Services</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="it-solutions.html" class="dropdown-link">IT Solutions</a>
                    <div class="dropdown-content">
                        <a href="#">Analytics</a>
                        <a href="#">Artificial Intelligence (AI)</a>
                        <a href="#">Cloud Solutions</a>
                        <a href="#">Cybersecurity Solutions</a>
                        <a href="#">Data Management</a>
                        <a href="#">DevOps</a>
                        <a href="#">Digital Signage</a>
                        <a href="#">Digital Transformation</a>
                        <a href="#">Hybrid Infrastructure</a>
                        <a href="#">IT Asset Management</a>
                        <a href="#">Print Solutions</a>
                        <a href="#">Workplace Modernization</a>
                        <a href="#">IT Solutions by Industry</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="brands.html" class="dropdown-link">Brands</a>
                    <div class="dropdown-content">
                        <a href="#">Adobe</a>
                        <a href="#">Apple</a>
                        <a href="#">APC</a>
                        <a href="#">Cisco</a>
                        <a href="#">Dell</a>
                        <a href="#">Google</a>
                        <a href="#">HP</a>
                        <a href="#">IBM</a>
                        <a href="#">Intel</a>
                        <a href="#">Lenovo</a>
                        <a href="#">Microsoft</a>
                        <a href="#">NetApp</a>
                        <a href="#">Nutanix</a>
                        <a href="#">Palo Alto</a>
                        <a href="#">Samsung</a>
                        <a href="#">VMware</a>
                        <a href="#">Browse All Brands</a>
                    </div>
                </div>
                <a href="research-hub.html">Research Hub</a>
            </div>
            <div class="navbar-icons">
                <input type="text" placeholder="What can we help you find today?"><button>Search</button>
                <a href="#"><img src="../../assets/images/icons/notifications.png" alt="Notifications"></a>
                <a href="#"><img src="../../assets/images/icons/signin.png" alt="Sign In"></a>
                <a href="#"><img src="../../assets/images/icons/cart.png" alt="Cart"></a>
            </div>
        </nav>
    </header>
</body>
</html>