<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/components/navbar.css">
    <link rel="stylesheet" href="/assets/css/components/footer.css">
    <title>GNTSecurity</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/index.html"><img src="/assets/images/logo/logo.png" alt="GNTSecurity Logo" class="logo"></a>
            <div class="navbar-links">
                <div class="dropdown">
                    <a href="#" class="dropdown-link">Hardware</a>
                    <div class="dropdown-content">
                        <a href="/pages/hardware/cables.html">Cables</a>
                        <a href="/pages/hardware/computer-accessories.html">Computer Accessories</a>
                        <a href="/pages/hardware/computer-monitors-displays.html">Computer Monitors & Displays</a>
                        <a href="/pages/hardware/computers.html">Computers</a>
                        <a href="/pages/hardware/electronics.html">Electronics</a>
                        <a href="/pages/hardware/networking.html">Networking</a>
                        <a href="/pages/hardware/office-equipment-supplies.html">Office Equipment & Supplies</a>
                        <a href="/pages/hardware/phones-video-conferencing.html">Phones & Video Conferencing</a>
                        <a href="/pages/hardware/power.html">Power</a>
                        <a href="/pages/hardware/printers-supplies.html">Printers & Supplies</a>
                        <a href="/pages/hardware/servers-server-management.html">Servers & Server Management</a>
                        <a href="/pages/hardware/storage-hard-drives.html">Storage & Hard Drives</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-link">Software</a>
                    <div class="dropdown-content">
                        <a href="/pages/software/business-applications.html">Business Applications</a>
                        <a href="/pages/software/communication.html">Communication</a>
                        <a href="/pages/software/graphics-design.html">Graphics & Design</a>
                        <a href="/pages/software/networking-servers.html">Networking & Servers</a>
                        <a href="/pages/software/operating-systems.html">Operating Systems</a>
                        <a href="/pages/software/programming-web-development.html">Programming & Web Development</a>
                        <a href="/pages/software/security.html">Security</a>
                        <a href="/pages/software/utilities.html">Utilities</a>
                        <a href="/pages/software/virtualization.html">Virtualization</a>
                        <a href="/pages/software/popular-software-titles.html">Popular Software Titles</a>
                        <a href="/pages/software/subscriptions.html">Subscriptions</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-link">Services</a>
                    <div class="dropdown-content">
                        <a href="/pages/services/gnts-amplified-services.html">GNTS Amplified Services</a>
                        <a href="/pages/services/eprocurement-integration.html">eProcurement Integration</a>
                        <a href="/pages/services/warranty-services.html">Warranty Services</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-link">IT Solutions</a>
                    <div class="dropdown-content">
                        <a href="/pages/it-solutions/analytics.html">Analytics</a>
                        <a href="/pages/it-solutions/artificial-intelligence.html">Artificial Intelligence (AI)</a>
                        <a href="/pages/it-solutions/cloud-solutions.html">Cloud Solutions</a>
                        <a href="/pages/it-solutions/cybersecurity-solutions.html">Cybersecurity Solutions</a>
                        <a href="/pages/it-solutions/data-management.html">Data Management</a>
                        <a href="/pages/it-solutions/devops.html">DevOps</a>
                        <a href="/pages/it-solutions/digital-signage.html">Digital Signage</a>
                        <a href="/pages/it-solutions/digital-transformation.html">Digital Transformation</a>
                        <a href="/pages/it-solutions/hybrid-infrastructure.html">Hybrid Infrastructure</a>
                        <a href="/pages/it-solutions/it-asset-management.html">IT Asset Management</a>
                        <a href="/pages/it-solutions/print-solutions.html">Print Solutions</a>
                        <a href="/pages/it-solutions/workplace-modernization.html">Workplace Modernization</a>
                        <a href="/pages/it-solutions/it-solutions-by-industry.html">IT Solutions by Industry</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-link">Brands</a>
                    <div class="dropdown-content">
                        <a href="#">Adobe</a>
                        <a href="#">Apple</a>
                        <a href="#">APC</a>
                        <a href="#">Cisco</a>
                        <a href="#">Dell</a>
                        <a href="#">Google</a>
                        <a href="#">HP</a>
                        <a href="#">IBM</a>
                        <a href="#">Intel</a>
                        <a href="#">Lenovo</a>
                        <a href="#">Microsoft</a>
                        <a href="#">NetApp</a>
                        <a href="#">Nutanix</a>
                        <a href="#">Palo Alto</a>
                        <a href="#">Samsung</a>
                        <a href="#">VMware</a>
                        <a href="#">Browse All Brands</a>
                    </div>
                </div>
                <a href="/pages/research-hub/research-hub.html" class="dropdown-link">Research Hub</a>
            </div>
            <div class="navbar-icons">
                <input type="text" placeholder="What can we help you find today?">
                <button>Search</button>
                <a href="#"><img src="/assets/images/icons/notifications.png" alt="Notifications"></a>
                <a href="#"><img src="/assets/images/icons/signin.png" alt="Sign In"></a>
                <a href="#"><img src="/assets/images/icons/cart.png" alt="Cart"></a>
            </div>
        </nav>
    </header>
</body>
</html>
