.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #2A2F38;
    padding: 2.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 450px;
    color: #EDEDED;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.popup-content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #69A1FF;
}

.popup-content ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.close-btn {
    margin-top: 1.5rem;
    padding: 0.6rem 1.5rem;
    background-color: #69A1FF;
    color: #1C1F26;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #517AC1;
}
