@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-plus-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d1d5db' fill-opacity='0.25'%3E%3Crect x='15' y='10' width='2' height='12'/%3E%3Crect x='10' y='15' width='12' height='2'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 32px 32px;
}
